@{
	Layout = "~/Features/Shared/_Layout.cshtml";
}
<div class="page-container align-center text-align-center">
	<h2 class="page-title align-center">Setup</h2>

	@using (Html.BeginForm("Setup", "Setup", FormMethod.Post))
	{
		<p>There are just a few things to setup before you're a bad boy for life.</p>
		<p>First specify the path where you would like to store historical images. It's best to pick somewhere that won't be disturbed for example C:\Images.</p>
		<label for="imageStorePath">Image Store Path:</label>
		<input type="text" id="imageStorePath" name="imageStorePath" />
		<p>Secondly specify a location where we can store a basic json file that will keep track of previous comparisons. Again it's best to pick somewhere that won't be disturbed for example C:\Data.</p>
		<label>Data Store Path:</label>
		<input type="text" id="dataStorePath" name="dataStorePath" />
		<p>Press the button...</p>
		<button class="btn" type="submit">Setup</button>
	}

</div>