.btn {
  background: #c0c1c2;
  background-image: linear-gradient(to bottom, #c0c1c2, #c0c1c2);
  border-radius: 5px;
  font-family: Courier New;
  color: black;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 10px 5px 10px 5px; }

.btn.danger:hover {
  background: #FF4646;
  background-image: linear-gradient(to bottom, #FF4646, #FF4646); }

.btn:hover {
  background: #21b82b;
  background-image: linear-gradient(to bottom, #21b82b, #21b82b);
  text-decoration: none; }
