@import "../Shared/Buttons.scss";
@import "../Shared/Shared.scss";
@import "../Shared/Modals.scss";

.difference-image {
	height: 10%;
	width: 32.5%;
	background-color: #C0C0C0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	border: solid black 1px;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
}

.historical-difference-container {
	width: 32.5%;
	display: inline-block;
}

	.historical-difference-container img {
		width: 100%;
		background-color: #C0C0C0;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		border: solid black 1px;
		-webkit-background-size: 10px 10px;
		-moz-background-size: 10px 10px;
		background-size: 10px 10px;
	}

.page-object {
	background-color: white;
	border: 1px dashed darkgray;
}

.controls {
	padding: 20px 0;
}

.comparison {
	background-color: #00ace6;
}

	.comparison.valid {
		background-color: #21b82b;
	}

	.comparison.invalid {
		background-color: #A0A0A0;
	}
