@model IList<PDiffy.Features.TextDifferences.Index.Model>

@{
	Layout = "~/Features/Shared/_Layout.cshtml";
}
@section Styles {
	<link href="~/Styles/TextDifferences.css" rel="stylesheet" />
}
@section Scripts {
	<script src="~/Scripts/TextDifferences.generated.js" type="text/javascript"></script>
}

@Html.Partial("Partials/_FilterToggles", Model)

<div class="page-container align-center text-align-center">
	@foreach (var textComparison in Model.OrderBy(_=>_.Site).ThenBy(_=>_.Page))
	{
		@Html.Partial("Partials/_Comparison", textComparison)
	}
	@if (Model.Any())
	{
		<a class="btn danger align-center" href="#deleteAll">Delete All</a>
		<div id="deleteAll" class="modalDialog">
			<div class="align-center text-align-center">
				<a href="#closedModal" title="Close" class="close">X</a>

				<h3>Delete All</h3>
				<p>Warning! Read this!</p>
				<p>This will delete all pages and all history.</p>
				@Html.ActionLink("#$@&! the police", "DeleteAll", new { deleteAll = true }, new { @class = "btn danger" })
			</div>
		</div>
	}
</div>
