@import "../Shared/Buttons.scss";
@import "../Shared/Shared.scss";
@import "../Shared/Modals.scss";

.historical-difference-container {
	width: 32.5%;
	display: inline-block;
}

.page-object {
	background-color: white;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.page-object-header {
	width: 100%;
	text-align: left;
	background-color: lightblue;
	padding: 3px;
	box-sizing: border-box;
}

.page-object-body {
	display: table;
	width: 100%;
	border-top: 1px dotted gray;
}

.controls {
	padding: 20px 0;
}

.comparison {
	background-color: #00ace6;
}

.comparison.valid {
	background-color: #21b82b;
}

.comparison.invalid {
	background-color: #A0A0A0;
}

div.original-text,
div.comparison-text,
div.differences-text {
	display: table-cell;
	width: 33%;
	padding: 10px;
}

div.original-text {
	background-color: #f0f0f0;
}

div.comparison-text {
	background-color: #f0f0f0;
}

div.differences-text {
	background-color: #f0f8f0;
	font-style: italic;
}

.pre-wrap-white-space {
	white-space: pre-wrap;
}

div.fixed-toggles {
	position: fixed;
	width: 20%;
}

aside.toggles {
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
	clear: both;
}

.overflow-ellipses {
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

.overflow-ellipses:hover {
	vertical-align: bottom;
	overflow: visible;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}
