<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>P Diffy</title>
</head>
<body>
	<header class="header align-center text-align-center">
		<img src="~/Content/logo.png" alt="pdiffyLogo" class="logo"/>
		<h1>P Diffy</h1>
	</header>
	@RenderBody()
	<footer class="footer align-center text-align-center">
		<i>β</i>
		@RenderSection("Styles", required: false)
		<script src="~/Scripts/Shared.generated.js" type="text/javascript"></script>
		@RenderSection("Scripts", required: false)
	</footer>
</body>
</html>
