@*this is only here to show how the css modal works*@

<a class="btn align-center" href="#compareAllModal">Compare All</a>

<div id="compareAllModal" class="modalDialog">
	<div class="align-center text-align-center">
		<a href="#" title="Close" class="close">X</a>

		<h3>Compare All</h3>
		<p>Warning! this may take a while.</p>
	</div>
</div>