.btn {
	background: #c0c1c2;
	background-image: -webkit-linear-gradient(top, #c0c1c2, #c0c1c2);
	background-image: -moz-linear-gradient(top, #c0c1c2, #c0c1c2);
	background-image: -ms-linear-gradient(top, #c0c1c2, #c0c1c2);
	background-image: -o-linear-gradient(top, #c0c1c2, #c0c1c2);
	background-image: linear-gradient(to bottom, #c0c1c2, #c0c1c2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Courier New;
	color: black;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin: 10px 5px 10px 5px;
}

.btn.danger:hover {
	background: #FF4646;
	background-image: -webkit-linear-gradient(top, #FF4646, #FF4646);
	background-image: -moz-linear-gradient(top, #FF4646, #FF4646);
	background-image: -ms-linear-gradient(top, #FF4646, #FF4646);
	background-image: -o-linear-gradient(top, #FF4646, #FF4646);
	background-image: linear-gradient(to bottom, #FF4646, #FF4646);
}


.btn:hover {
	background: #21b82b;
	background-image: -webkit-linear-gradient(top, #21b82b, #21b82b);
	background-image: -moz-linear-gradient(top, #21b82b, #21b82b);
	background-image: -ms-linear-gradient(top, #21b82b, #21b82b);
	background-image: -o-linear-gradient(top, #21b82b, #21b82b);
	background-image: linear-gradient(to bottom, #21b82b, #21b82b);
	text-decoration: none;
}
