<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>P Diffy</title>
</head>
<body>
	<header class="header align-center text-align-center">
		<img src="~/Content/logo.png" alt="pdiffyLogo" class="logo"/>
		<h1>P Diffy</h1>
		@*@Html.Partial("_AsciiBanner")*@
	</header>
	@RenderBody()
	<footer class="align-center text-align-center">
		<link href="~/Features/Shared/Shared.css" rel="stylesheet" />
		<link href="~/Features/Shared/Buttons.css" rel="stylesheet" />
		<link href="~/Features/Shared/Modals.css" rel="stylesheet" />
		<link href="~/Features/ImageDifference/ImageDifference.css" rel="stylesheet" />
		<i>β</i>
	</footer>
</body>
</html>
