@model PDiffy.Web.Features.History.HistoryViewModel

@{
	Layout = "~/Features/Shared/_Layout.cshtml";
}
<div class="page-container align-center text-align-center">
	<h2 class="page-title align-center">History</h2>
	<div class="page-object align-center text-align-center">
		<h3>@Model.Page.Name</h3>
		@foreach (var image in Model.DifferenceImages)
		{
			<div class="historical-difference-container">
				<p>@image.CreatedDate</p>
				<a href="@image.ImageString"><img src="@image.ImageString" alt="originalImage" /></a>
			</div>
		}
	</div>
</div>