<!DOCTYPE html>

<html>
	<head>
		<link rel="icon" type="image/x-icon" href="/Content/dance.gif">
		<meta name="viewport" content="width=device-width" />
		<title>404</title>
		<link href="~/Features/Shared/Shared.css" rel="stylesheet" />
	</head>
	<body>
		<header class="align-center">
			<h1 class="text-align-center">Ill Communication</h1>
			@Html.Partial("_Ascii404")
		</header>
	</body>
</html>
