<!DOCTYPE html>

<html>
	<head>
		<link rel="icon" type="image/x-icon" href="/Content/logo.png">
		<meta name="viewport" content="width=device-width" />
		<title>500</title>
		<link href="~/Styles/Error.css" rel="stylesheet" />
	</head>
	<body>
		<header class="align-center">
			<h1 class="text-align-center">500</h1>
			@Html.Partial("_Ascii500")
		</header>
	</body>
</html>
