<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Biggy.Core" version="0.1.0.1" targetFramework="net451" />
  <package id="Biggy.Data.Json" version="0.1.0.1" targetFramework="net451" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net451" />
  <package id="Machine.Fakes" version="2.5.0" targetFramework="net451" />
  <package id="Machine.Fakes.Moq" version="2.5.0" targetFramework="net451" />
  <package id="Machine.Specifications" version="0.9.0" targetFramework="net451" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
</packages>